#content {
    padding: 10px;
}

.Product td {
    border: 5px darkslategray;
    text-align: center;
    height: 150px;
}
#container {
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 0;
    margin: 0;
}








nav{
    height: 60px;
    background-color: cornflowerblue;
    color: #ffffff;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    padding-left: 50px;
}
.row div:nth-child(odd){
    border: gray 1px solid;

}
.row div:nth-child(even){
    border: black 1px solid;

}
