<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tim&Jefrey</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav th:fragment="navigation">
    <ul>
        <li><a th:href="@{~/index}">Tim&Jeffrey's pet imporium</a></li>

    </ul>
</nav>


<div id="container" class="container-fluid">
    <div class="row">
        <div class="col-sm-4" th:each="Product :${all}">
            <p th:text="${Product.productNaam}"></p>
            <p th:text="${Product.prijs}"></p>
            <p th:text="${Product.categorie}"></p>
            <p th:text="${Product.omschrijving}"></p>
            <a class="btn" th:href="@{/Details/{id}(id = ${Product.id})}">Details</a>
        </div>
    </div>
</div>

</body>
</html>